* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: rgb(54, 183, 183);
   font-family: sans-serif;
}
.container {
   width: 400px;
   height: fit-content;
   margin: 80px auto;
}
.head-sec {
   text-align: center;
   padding: 20px;
   border-radius: 8px;
   background-color: rgb(250, 155, 25);
   box-shadow: 2px 2px 8px black;
}

.head-sec h2 {
   margin: 0;
   margin-bottom: 16px;
   color: white;
}

.input-sec {
   padding: 16px;
   display: flex;
}

.input-sec input {
   outline: none;
   border: none;
   padding: 12px;
   width: 80%;
   border-radius: 4px 0 0 4px;
}

.input-sec button {
   background-color: rgb(219, 187, 128);
   border: none;
   border-radius: 0 4px 4px 0;
   width: 20%;
   padding: 12px;
   color: white;
   font-weight: bold;
   cursor: pointer;
}

.task-col{
   display: flex;
   flex-direction: column;
   gap: 12px;
   margin-top: 24px;
}
.task-tile {
   min-height: 52px;
   width: 100%;
   background-color: rgb(250, 155, 25);
   box-shadow: 2px 2px 8px black;
   color: white;
   border-radius: 8px;
   padding: 12px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.task-tile span{
   overflow-wrap: break-word;
   display: inline-block;
   width: 75%;
}

.task-tile i {
   cursor: pointer;
   margin-right: 16px;
}
