* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: rgb(54, 183, 183);
   font-family: sans-serif;
}
.container {
   width: 400px;
   height: fit-content;
   margin: auto;
}
.head-sec {
   text-align: center;
   padding: 20px;
   border-radius: 8px;
}

.head-sec h2 {
   margin: 0;
   margin-bottom: 16px;
   color: rgba(0, 0, 0, 0.7);
}
